*{

    padding: 0px ;




}



.navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            color : white;
            background: black;
            z-index: 2;

}

.nav-link{

            color : white;
            width: 100%;
}


.navbar-brand{

            color: white;
            font-family: 'Dancing Script', cursive;

}

.navbar-brand:hover{

            color: white;
            font-family: 'Dancing Script', cursive;


}


span{

            color: rgb(91,192,222);
            cursor: pointer;

}



.nav-link{

        color: white;
        text-transform: uppercase;
        font-family: sans-serif;
}
.nav-link:hover{

        background-color: #008CBA;
        border-radius: 20px;


}

.d-flex{

    font-family: 'Dancing Script', cursive;
    color: RGB(2,200,216);

}
/*=======================main title(WRESTLING AND MMA TRAINING)=========================================*/

.btn1{

    box-shadow : 0 3px 4px rgba(0,0,0,0.4)
    color: white;
    border: 2px solid #008CBA;
    padding: 5px 50px;
    text-align: center;
    display: inline-block;
    font-size:16px;
    margin: 0px -71px;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;

}

.btn1:hover{
    background-color: #008CBA;
    border-radius: 5px;
    transition: all 0.4s;

}

.mt-4 {

         margin: 4px 559px;
}




/*=======================details=========================================*/
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --bs-border-color-translucent: rgba(255, 255, 255, 0.17);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1600px;
}


.hero-section{

  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}



@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}



.card:before{
  content: '';


}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;

}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);

}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);

}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}




/*=========================מי אני=========================================*/

.more h2 {
        font-weight: 500;


}

.more p {
     font-size:lightest;

}

p {
  font-size: 1.1rem

}

.section more py-5{
  padding-top:1rem;

}





/*=========================discover=========================================*/

.discover h1 {
  max-width: 900px;
  max-height: 85vh;
  font-size: 2.8rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.85)

}

/*=======================main pic=========================================*/

.main{
    background : url("./img/mark-wrestling.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 80%;
    background-attachment: fixed;



}


/*=======================main title(WRESTLING AND MMA TRAINING)=========================================*/
.col-lg-10{

        font-size: 1rem;
        font-weight: 800;
        text-shadow: 1.5px 1.5px 8px rgb(255 255 255 / 50%)

}

.col-lg-10 p{

      text-decoration: none;
      text-shadow: 10px 10px 20px rgb(255 255 255 ,0.5)
}
/*=======================main words(מזמין אותכם...)=========================================*/
.main h1{
       font-size: 5rem;
       font-weight: 500;
       text-shadow: 1.5px 1.5px 8px rgb(255 255 255 / 50%)

}

/*=========================services=========================================*/


.services h1{

 font-weight: 800;
 font-size:  2.8rem;



}

.services h5{

    font-weight: 700;

}


.fa-solid {
   font-size: 2rem;

}

.back:hover .fa-solid{
    color: #0402ff;

}

/* Style the icon */
.services .fa-wrestling {
  color: #666;
  font-size: 2rem;
}

/* Change the color on hover */
.services .back:hover .fa-wrestling {
  color: #0402ff;
}


/*=========================המלצות =========================================*/







/*=========================gallery=========================================*/

.slider-wrapper img{

     height: 500x;
     weight: 50px;

}



/*=========================contact=========================================*/
footer {
  background-color: #dee2e6;
  padding: 30px 0;
  font-size: 16px;

}

.footer-widget {
  flex-basis: 33.33%;
}

.footer-widget h4 {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-widget p {
  margin-bottom: 20px;
}

.footer-widget ul {
  list-style: none;
  padding: 0;

}

.footer-widget ul li {
  margin-bottom: 10px;

}

.footer-widget ul li i {
  margin-right: 10px;

}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;

}

.social-icons li {
  margin-right: 10px;

}

.social-icons a {
  color: #0d6efd;
  font-size: 20px;
  transition: all 0.3s ease;
  text-decoration: auto;
}

.social-icons a:hover {
  color: #333;
}

.copy {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #111;
}

@media (min-width: 768px) {
  .footer-widget {
    flex-basis: auto;

  }
}

.footer-widget ul li a {
  color: #555;
  display: contents;
  align-items: center;
  margin-bottom: 10px;
}

.footer-widget ul li a i {
  margin-right: 10px;
  font-size: 20px;
}

.footer-widget ul li a:hover {
  color: #007bff;
}


/* =================================================================*/

